@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: #555;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

nav a:hover {
  background-color: #777;
}

main {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  margin-top: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.add-product-button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.add-product-button:hover {
  background-color: #777;
}

.logout-button {
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #d00;
}