@charset "UTF-8";
/* footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
} */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.footer-links li {
  margin-right: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.footer-copyright p {
  margin: 0;
  font-size: 14px;
}


/* CSS for Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.content-wrapper {
  min-height: calc(100% - 100px); /* Adjust as needed */
  padding-bottom: 100px; /* Height of the footer */
}



