@charset "UTF-8";

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 0 auto;
}



.content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #333;
}

.prd {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.prdl {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 150px;
    height: auto;
    border-radius: 5px;
}

h2 {
    margin-top: 0;
    color: #333;
}

p {
    margin: 5px 0;
    color: #666;
}


