@charset "UTF-8";

.login-box {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.row {
  margin-bottom: 15px;
}

.col {
  display: inline-block;
  width: 100%; /* Adjust as needed */
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.login-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #ff0000;
  font-weight: bold;
  margin-bottom: 10px;
}

.success-message {
  color: #008000;
  font-weight: bold;
  margin-bottom: 10px;
}
